/* LOGIN PAGE */

.login-container{
text-align:center;
margin-top:100px;
}

.role-box{
display:flex;
justify-content:center;
gap:80px;
margin-top:40px;
}

.role-card{
width:180px;
padding:20px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
cursor:pointer;
transition:0.3s;
}

.role-card:hover{
transform:scale(1.05);
}

.role-card img{
width:100px;
height:100px;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:60px;
}

.hero-img{
width:400px;
}

.btn{
padding:12px 25px;
background:#2b7cff;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#2b7cff;
color:white;
}

.nav-links{
display:flex;
gap:20px;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:60px;
}

.hero-img{
width:400px;
}

.btn{
padding:12px 25px;
background:#2b7cff;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}